<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEquipoService" />
        <binding name="BasicHttpBinding_IColaboradorService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://asignacionpc.apphb.com/EquipoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEquipoService"
        contract="ServicioEquipos.IEquipoService" name="BasicHttpBinding_IEquipoService" />
      <endpoint address="http://serviciocolaborador.apphb.com/ColaboradorService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IColaboradorService"
        contract="ServicioColaborador.IColaboradorService" name="BasicHttpBinding_IColaboradorService" />
    </client>
  </system.serviceModel>
</configuration>